# Python
__pycache__/
*.py[cod]
pyvenv.cfg

# Flask
instance/
.env

*tfstate*
*.terraform*
# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
venv/
env/
Include/
Lib/
Scripts/

# General
.devcontainer/